
 
.p{
    text-decoration: none;
    padding: 0px;
}
.btn:hover{
    padding: 8px;
}

.left{
    width:220px;
    padding: 4px;
    height: 400px;
  
}
.limg:hover{
    
    filter: grayscale(0);
    transform:scale(0.5) rotate(7deg)
}
.limg{
    border-radius: 12px;
    width: 100%;
    margin-left: 0px;
    transition: 1s;
}
.mid{
    height:90%;
    border-radius: 12px;
    margin-left: 3px;
    transition: 1s;
}
.mid:hover{
    filter: grayscale(0);
    transform:scale(0.5) ;
}
.mb{
    height: 180px;
    border-radius: 12px;
   width: 50%;
}
.educ{
    width: 600px;
    margin: 30px auto;
    color: black;
    font-weight: 400;
}
.white{
    color: white;
}
.marks{
    position: absolute;
    width: 60px;
    height: 20px;
    background-color: black;
    right: 30px;
    top: 20px;
    color: aliceblue;
    text-align: center;
    padding: 2px;
    border-radius: 12px;
}.year{
    position: absolute;
    width: 90px;
    height: 20px;
    background-color: rgba(25, 36, 34, 0.842);
    right: 30px;
    bottom: 20px;
    color: aliceblue;
    text-align: center;
    border-radius: 12px;
    padding: 2px;
}

.about{
   
    font-family: 'Lobster', cursive;
    font-size: 20px;
}



.profle{
    margin-left: 30px;
    width: 300px;
    height: 300px;
    display: flex;
    align-items: center;
   overflow: hide;
   background-color: rgb(22, 21, 21);
   box-shadow:   0 0 10px rgba(255, 255, 255, 0.5) inset;
   margin: 4px;
   padding: 2px;
   border-radius: 20px;
   justify-content: baseline;
}
.proimg{
    width: 30%;
    border-radius: 50%;
}
h2{
    font-family: "Crimson Text',serif ";
}
.flex{
    display: flex;
    flex-wrap: wrap;
   
    justify-content: center;
    border-radius: 25px;
    padding: 8px;
}



.skillsItem{
    padding: 12px;
    border-radius: 10px;
    height: fit-content;
    text-align: center;
    margin : 0px 10px 10px 0px;
    font-size: 18px;
    list-style-type: none;
}
.nodeIcon{
    margin-right: 10px;
    color: white;
}
.skillsItem:nth-of-type(1){
    flex-grow: 0.5;
    background-color: #04AA6D;
    color: white;
    margin-left: 30px;
}
.skillsItem:nth-of-type(2){
    flex-grow: 0.1;
    border: 2px solid rgb(190, 56, 56);
    color: rgb(190, 56, 56);
}.skillsItem:nth-of-type(3){
    flex-grow: 0.5;
    background-color: rgb(70, 70, 70);
    color: rgb(97, 219, 251);
}.skillsItem:nth-of-type(4){
    flex-grow: 0.3;
    border: 1.5px solid #cc6699;
    color: #cc6699;
}.skillsItem:nth-of-type(5){
    
    flex-grow: 0.3;
    background-color: #7952b3;
    color: white;
}.skillsItem:nth-of-type(6){
    flex-grow: 0.01;
    color: rgb(33, 75, 165);
    background-color: white;
    border: 1px solid rgb(33, 75, 165);
}
.skillsItem:nth-of-type(7){
    flex-grow: 0.3;
    background-color: #F1502F;
    color: white;
}
.skillsItem:nth-of-type(8){
    flex-grow: 0;
    color: black;
    background-color: rgb(184, 184, 184);
}
.skillsItem:nth-of-type(9){
    flex-grow: 0.01;
    color: skyblue;
    border: 1.5px solid skyblue;
}
.skillsItem:nth-of-type(10){
    flex-grow: 0.01;
    color: black;
    background-color: #264de4;
    color: white;
}
.skillsItem:nth-of-type(11){
    
    flex-grow: 0.01;
    color: white;
    border: 1px solid black;
    background-color: #04aa2e;
}
.skillsItem:nth-of-type(12){
    flex-grow: 0.15;
    background-color: #F0DB4F;
}

.sassLogo{
    font-size: 20px;
    margin-right: 5px;
}
.skillsItem:hover{
    padding: 14px;
}
h1:hover{
    color: aqua;
}
.sec{
    height: 100px;
    background-color: bisque;
    margin:12px auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5), inset 0 0 10px rgba(255, 255, 255, 0.5);
    padding: 20px;
    padding-top: 10px;
    position: relative;
    border-radius: 12px;
}
.pics{
    height: 380px;
    margin: 20px auto;
    display: flex;
    border-radius: 12px;
    background-color: rgb(238, 178, 105);
    box-shadow: 5px 5px 1px 1px grey;
}
.skillContainer{
    
    margin: 20px auto;
}
.barr{
    width: 50px;
    height: 50px;
    border: 1px solid gray;
    border-radius: 12px;
    position: relative;
    display: inline;
}
.dropdown{
    margin: 9px;
   
    cursor: pointer;
}
.hide{
    position: absolute;
    display: none;
}
.dropdown:hover .hide{
    display: block;
}
.size{
    font-size: 30px;
    margin: 6px;
}
@media(min-width: 586px){
    .main{
        width: 900px;
        margin:50px auto;
    }
    .sec{
        width: 500px;
    }
    .pics{
        width: 650px;
    }
    .skillContainer{
        width: 70%;
        height: 200px;
       
    }
    .skils{
        width: 700px;
        margin: 30px auto;
    }
    .skills{
        width: 700px;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: flex-start;
        flex-direction: row;
    }
    .ppp{
        width: 700px;
        margin: 30px auto;
    }
    .flex{
        background-color: rgb(27, 26, 26);
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5), inset 0 0 10px rgba(255, 255, 255, 0.5);
    }
    
}
@media(max-width: 586px){
    h1{
        font-size: 20px;
    }
    .main{
        width: 560px;  
    }
    .sec{
        width: 400px;
    }
    .pics{
        width: 450px;
    }
    .skillContainer{
        width: 20%;
       
    }
    .skils{
        width: 500px;
        margin: 10px auto;
    }
    .skills{
        width: 300px;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: flex-start;
        flex-direction: row;
    }
    .ppp{
        width: 550px;
        margin: 30px auto;
        
    }
}
@media(max-width: 430px){
    h1{
        font-size: 20px;
    }
    .main{
        width: 400px;  
    }
    .educ{
        width: 400px;
    }
    .sec{
        width: 380px;
        margin-left: 0px;
    }
    .pics{
        width: 350px;
    }
    .skillContainer{
        width: 20%;
       
    }
    .skils{
        width: 400px;
        margin: 10px auto;
    }
    .skills{
        width: 300px;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: flex-start;
        flex-direction: row;
        margin-left: 0px;
        padding: 0px;
        
    }
    .ppp{
        width: 400px;
        margin: 30px auto;
        
    }
}